/* This style sheet has all the propitiates of the elements and the pages styles of the entire website.*/
#index
{
  background-image: ("images/bg1.jpg");
 

}

#dell
{
  background-image: ("images/bg1.jpg");

}
#mac
{
  background-image: ("images/bg1.jpg");
 
}

#surface
{
  background-image: ("images/bg1.jpg");
}